[submodule "University-FIT3013-Assignment1"]
	path = University-FIT3013-Assignment1
	url = https://github.com/PatrickShaw/University-FIT3013-Assignment1.git
[submodule "University-FIT3013-Assignment2"]
	path = University-FIT3013-Assignment2
	url = https://github.com/PatrickShaw/University-FIT3013-Assignment2.git
[submodule "University-FIT2024-Labs"]
	path = University-FIT2024-Labs
	url = https://github.com/PatrickShaw/University-FIT2024-Labs.git
[submodule "University-FIT2004-Labs"]
	path = University-FIT2004-Labs
	url = https://github.com/PatrickShaw/University-FIT2004-Labs.git